<div class="paynoweatlater-banner">
  <span class="paynoweatlater-banner__dismiss">×</span>
  <div class="paynoweatlater-banner__wrapper">
    <img class="paynoweatlater-banner__logo" src="{{ 'assets/images/logo.png' | absolute_url }}" alt="BON BON Restaurant Gutschein - Logo" />
    <p class="paynoweatlater-banner__text">
      Kaufe jetzt einen Gutschein bei BON BON und hilf uns dabei die Krise zu überstehen.
    </p>
    <a href="https://www.paynoweatlater.de/at/NAME" target="_blank" class="paynoweatlater-banner__button">Zum Gutscheinkauf</a>
  </div>
</div>
