---
---

$primary: #002b3b;
$button: #FF5C00;
$text: white;

@keyframes slide-in-bottom {
  0% {
    opacity: 0;
    transform: translateY(200%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out-bottom {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  99% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    transform: translateY(200%);
  }
}

.reset-css {
  all: initial;
  * {
    all: revert;
  }

  font-size: 16px;
}

.paynoweatlater-banner {
  @extend .reset-css;

  position: fixed;
  right: 1em;
  bottom: 1em;
  border-radius: .25em;
  width: 25em;
  z-index: 999999;
  // display: none;
  color: $text;
  background-color: $primary;
  box-shadow: 0 .25em .5em rgba(0, 0, 0, .4);
  animation: slide-in-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

  @media screen and (max-width: 500px){
    right: 0;
    bottom: 0;
    border-radius: 0;
    width: 100%;
  }
}

.paynoweatlater-banner--fade {
  animation: fade-out-bottom 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.paynoweatlater-banner__dismiss {
  top: .25em;
  right: .25em;
  position: absolute;
  font-size: 1.75em;
  font-weight: bold;
  line-height: 2em;
  width: 2em;
  text-align: center;
  cursor: pointer;
}

.paynoweatlater-banner__wrapper {
  padding: 1em;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.paynoweatlater-banner__logo {
  max-height: 3em;
}

.paynoweatlater-banner__text {
  margin: 1em 0;
}

.paynoweatlater-banner__button {
  background-color: $button;
  color: white!important;
  border-radius: 0.2em;
  padding: .5em 1em;
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: darken($button, 15%);
    color: white!important;
  }
}
