<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow" />
    <title>
      {% if page.title %}
        {{ page.title }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </title>
    <link rel="stylesheet" href="{{ 'assets/css/default.css' | relative_url }}" />
  </head>
  <body>
    {{ content }}
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <a href="https://github.com/homerun-gmbh/paynoweatlater-banner" target="_blank">Quellcode</a> · <a href="http://www.homerun-gmbh.de" target="_blank">Impressum</a>
        </p>
      </div>
    </footer>
  </body>
</html>
